



.inform__container {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 
}

.inform__title {
  font-weight: 800;
  font-size: 36px;
  height: 1px;
  color: rgb(42, 35, 103);
  margin-top: 81px;
  margin-bottom: 80px;
}

span {
  color: rgb(107, 90, 249);
}




.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px 20px;
  margin-bottom: 22px;
}

.card {
  min-width: 373px;
  min-height: 200px;
  padding-left: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  
}

.card__number {
  margin-top: 2px;
 
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  height: 17px;
  color: rgb(42, 35, 103);
  margin-bottom: 9px;
 
}

.card__line {
  margin-bottom: 9px;
  height: 0px;
}

.card__text {
  width: 320px;
  font-weight: 400;
  font-size: 12px;
  height: 15px;
  color:rgb(42, 35, 103) ;

}

.card__slaider {
  display: block;
 
}

.inform__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

/* .inform__button_none {
 
  margin-bottom: 20px;
} */

.inform__button {
  width: 275px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(107, 90, 249);
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
  /* margin-bottom: 20px; */
  transition: opacity 0.2s ease;
  /* margin-top: 56px; */
}

.inform__button-none_close {
  opacity: 0;
  visibility: hidden;
}

.inform__button-none_open {
  opacity: 1;
  visibility: visible;
}





@media (width < 1280px) {
  .cards {
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr;
   
  }

  .inform__title {
    font-size: 24px;
    margin-top: 41px;
    margin-bottom: 60px;
  }
  

}

@media (width < 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .inform__title {
    font-size: 18px;
    margin-top: 31px;
    margin-bottom: 57px;
  }
}